* {

margin: 0;
padding: 0;
box-sizing: border-box;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Comfortaa:wght@500&family=Roboto:wght@500&display=swap');

header {

    padding: 10px 20px;

}

h1 {

    background-color: #81818175;
    color: #e4e4e4;
    font-family: 'Cinzel', serif;
    text-align: center;
    padding: 12px;
    font-size: 50px;

}

body {

    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a0/Panoramica_da_Torre_em_Volta_Redonda_-_Brasil_-_panoramio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.Resumo {

    font-family: 'roboto', sans-serif;
    color: #e4e4e4;
    padding: 50px;
    text-align: center;
    font-size: 20px;

}

iframe {

    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 1280px;
    height: 720px;


}

.subresumo {

    font-family: 'roboto', sans-serif;
    color: #e4e4e4;
    padding: 50px;
    width: 400px;
    font-size: 18px;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.link {

    display: flex;
    justify-content: center;


}

.bi-instagram {

    color: white;
    margin-right: 40px;

}

.bi-link-45deg {

    color: white;

}

/* Laptop */
@media (max-width: 1280px) {

    iframe {

        width: 1200px;
        height: 700px;

    }

}

/* iPad */
@media (max-width: 768px) {

    iframe {

        width: 740px;
        height: 700px;

    }

}

/* Duo */
@media (max-width: 540px) {

    iframe {

        width: 520px;
        height: 400px;

    }

}

/* pixel 2 */
@media (max-width: 411px) {

    iframe {

        width: 400px;
        height: 260px;

    }

}

/* pixel 1 */
@media (max-width: 375px) {

    iframe {

        width: 350px;
        height: 330px;

    }

}

/* moto g4 */
@media (max-width: 360px) {

    iframe {

        width: 340px;
        height: 200px;

    }

    .subresumo {

        width: 300px;

    }

}

@media (max-width: 280px) {

    iframe {

        width: 260px;
        height: 200px;

    }

    header h1 {

        font-size: 40px;

    }

}