* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {

    font-size: 30px;

}

header {

    background-color: #a0d0f7;
    position: sticky;
    top: 0;

}

header h1 {

    text-align: center;
    color: rgb(111, 0, 255); 

}

.link {

    display: flex;
    gap: 24px;
    list-style: none;
    margin-left: 24px;

}

section h1 {

    font-size: 1.7rem;

}

.intro {

    height: 100vh;
    background-color: #98d8d5;
    padding: 42px 82px;
    display: flex;

}

section img {

    align-items: center;

}

.outro {

    height: 100vh;
    background-color: lightpink;
    padding: 102px 42px;

}

@media (max-width: 768px) {

    html {

        font-size: 10px;

    }

}